### Gradle stuff
build
.gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### Properties used in dev manual tests
application-dev.properties
integrationTests-dev.properties

### Spring boot produced logs
github-events-emailer.log
