<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%date %-5level [%thread] %logger - %message%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.camel.component.mail.MailProducer" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <!-- Logger name="org.kohsuke" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger -->
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
